body {
    background-color: #8f8ae9 !important;
    min-height: 100vh;
}
.heading {
    color: #fff !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}
#guide {
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#timer {
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align-last: right;
    text-shadow: 1px 1px #ff0000 !important;
}
#randomText {
    font-size: 20px;
    color: #060251;
    font-weight: bold;
}
textarea {
    font-size: 20px !important;
    
    outline: none !important;
}
#textfield{
	border: 20px solid grey;
}
.time {
    font-size: 50px;
}
#button {
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    padding-left: 4% !important;
    padding-right: 4% !important;
    width: auto;
    font-weight: bold !important;
    font-size: 25px !important;

}
#result {
    font-size: 40px;
    padding-top: 1%;
    color: black;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px #ff0000 !important;
}
i {
    color: red;
}
.againBtn {
    padding: 1% !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
    font-weight: bold !important;
    font-size: 25px !important;
    width: auto !important;
}

